@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }
  body {
    @apply overflow-x-hidden bg-stone-100 bg-opacity-50 selection:bg-sky-400 selection:text-yellow-300;
    background-image: url("/images/noise.svg");
  }
  h1 {
    @apply text-4xl md:text-5xl leading-tight;
  }
  h2 {
    @apply text-3xl md:text-4xl leading-tight;
  }
  h3 {
    @apply text-2xl md:text-3xl leading-tight;
  }
  h4 {
    @apply text-xl md:text-2xl leading-tight;
  }
  p {
    @apply text-base leading-7 lg:text-lg text-gray-900;
  }
  small {
    @apply text-xs text-gray-600;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .shadow-custom {
    box-shadow: 0 4px 4px 0 #00000010;
  }
}
